<mat-toolbar color="primary" class="draggable">
  <span>Sheepy Shepard</span>
  <span class="fill-remaining"></span>
  <button mat-icon-button (click)="minimize()" #tooltip="matTooltip" matTooltip="Minimieren" matToolTipPosition="below">
    __
  </button>
  <button mat-icon-button (click)="maximize()" #tooltip="matTooltip" [matTooltip]="isMaximized() ? 'Normalgröße' : 'Vollbild'" matToolTipPosition="below">
    <mat-icon [svgIcon]="isMaximized() ? 'unmaximize' : 'maximize'"></mat-icon>
  </button>
  <button mat-icon-button (click)="close()" #tooltip="matTooltip" matTooltip="Schließen" matToolTipPosition="below">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
