<mat-toolbar color="primary">
    <span>Spiel erstellen</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <div class="form">
      <mat-form-field>
          <mat-autocomplete #usersAutocomplete="matAutocomplete">
            <mat-option *ngFor="let user of users" [value]="user.username">
              <!--<img [src]="user.image" height="25">-->
              <span>{{ user.name }}</span> | 
              <small>@{{ user.username }}</small>
            </mat-option>
          </mat-autocomplete>
        <input #player1 [ngClass]="{'player': player == 0, 'playmate': playmate == 0}" matInput placeholder="Spieler 1" [matAutocomplete]="usersAutocomplete" (keyup)="userChange($event.target.value)">
      </mat-form-field>
      <mat-form-field>
        <input #player2 [ngClass]="{'player': player == 1, 'playmate': playmate == 1}" matInput placeholder="Spieler 2" [matAutocomplete]="usersAutocomplete" (keyup)="userChange($event.target.value)">
      </mat-form-field>
      <mat-form-field>
        <input #player3 [ngClass]="{'player': player == 2, 'playmate': playmate == 2}" matInput placeholder="Spieler 3" [matAutocomplete]="usersAutocomplete" (keyup)="userChange($event.target.value)">
      </mat-form-field>
      <mat-form-field>
        <input #player4 [ngClass]="{'player': player == 3, 'playmate': playmate == 3}" matInput placeholder="Spieler 4" [matAutocomplete]="usersAutocomplete" (keyup)="userChange($event.target.value)" (keypress)="createGame(player1, player2, player3, player4)">
      </mat-form-field>

      <div class="button-container">
        <button mat-button class="submit-button button" (click)="createGame($event, player1, player2, player3, player4)">Spiel erstellen</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
