<mat-card>
  <mat-toolbar color="primary">
    <span>Spiel erstellen</span>
  </mat-toolbar>
  <mat-card-content>
    <div class="form">
      <mat-form-field>
          <mat-autocomplete #usersAutocomplete="matAutocomplete">
            <mat-option *ngFor="let user of users" [value]="user.username">
              <!--<img [src]="user.image" height="25">-->
              <span>{{ user.name }}</span> | 
              <small>@{{ user.username }}</small>
            </mat-option>
          </mat-autocomplete>
        <input #player1 matInput placeholder="Spieler 1" [matAutocomplete]="usersAutocomplete">
      </mat-form-field>
      <mat-form-field>
        <input #player2 matInput placeholder="Spieler 2" [matAutocomplete]="usersAutocomplete">
      </mat-form-field>
      <mat-form-field>
        <input #player3 matInput placeholder="Spieler 3" [matAutocomplete]="usersAutocomplete">
      </mat-form-field>
      <mat-form-field>
        <input #player4 matInput placeholder="Spieler 4" [matAutocomplete]="usersAutocomplete">
      </mat-form-field>

      <div class="button-container">
        <button mat-button class="submit-button button" (click)="createGame(player1, player2, player3, player4)">Spiel erstellen</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
